
h1{
    color: red;
}

p{
    color : black;
}
button{
    color: pink;
     background-color: black;
}
body{
    background-color: pink; 
}

h2{
    color: #ff0000;
}    
h3{
    color:#00ff00;
}
h4{
    color:#ffff00
}

#heading1{
    color:antiquewhite
}

#heading2{
    color:blueviolet;
}

